{% if user.is_authenticated %}
<div class="login-message">
    <div class="">
        Você está logado como {{ request.user.first_name }}.
    </div>

    <div class="options">
        <a class="new-recipe" href="{% url 'authors:dashboard_new_recipe' %}">Crie uma nova receita</a> ou

        {% if is_page_edit is False %}
        <button class="button-return">
            <a href="{% url 'authors:dashboard' %}">Voltar</a>
        </button>
        {% endif %}

        {% include 'authors/partials/form_logout.html' %}
        <button class="plaintext-button" type="submit">Sair</button>
    </div>

</div>

{% endif %}